# Heroku environmental variables, including API keys.
# https://devcenter.heroku.com/articles/config-vars
.env
.env.dummy
ssjs_db
ssjs_db.pub

# npm packages
node_modules

# Mac
.DS_Store

# Emacs
*~
